<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <style>
    /*Cards*/
    :root {
      --background: #94a3b8;
      --nav-color: #334155;

    }


    /*Mobile Responsive*/
    @media only screen and (max-width:1000px) {
      .container{ 
        font-size: 3.7rem;
        width: 100%; 
    }
    .container h3{
      font-size: 5rem;

    }
    .d{display: flex; flex-wrap:wrap ;}
  }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="container d-flex mt-5 d">
<!-- one-card-start  -->
<div class="small-box bg-success px-3 py-3 mx-5 text-light  container">
  <div class="inner">
    <h3>{{customercount}}</h3>       
      <p>Registered Customer</p>
  </div>
  <div class="icon">
      <i class="ion ion-stats-bars"></i>
  </div>
  <a href="/view-customer" class="small-box-footer text-white">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
<!-- one-card-end -->

<!-- two-card-start  -->
<div class="small-box bg-danger px-3 py-3 mx-5 text-light container">  
<div class="inner">
      <h3>{{productcount}}</h3>       
        <p>Total Products</p>
    </div>
    <div class="icon">
        <i class="ion ion-stats-bars"></i>
    </div>
  <a href="/admin-products" class="small-box-footer text-white">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
<!-- two-card-end  -->

<!-- three-card-start  -->
<div class="small-box bg-secondary px-3 py-3 mx-5 text-light container">
<div class="inner">
        <h3>{{ordercount}}</h3>       
          <p>Total Orders</p>
      </div>
      <div class="icon">
          <i class="ion ion-stats-bars"></i>
      </div>
      <a href="/admin-view-booking" class="small-box-footer text-white">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
<!-- threee-card-end  -->
</div>





</body>


</html>