{% extends 'ecom/navbar.html' %}
{% load static %}
{% block content %}

{%if products%}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /*root variable */

  :root {
    --background: #bbf7d0;
    --maincolor: #4ade80;
    --text-color: #16a34a;
    --card-background: #f0fdf4;

  }

  /*product -card start*/


  main {
    max-width: 1500px;
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }

  main .card {
    max-width: 300px;
    flex: 1 1 210px;
    text-align: center;
    height: 380px;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin: 20px;
    background-color: var(--card-background);
  }

  main .card .image {
    height: 50%;
    margin-bottom: 20px;
  }

  main .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  main .card .caption {
    padding-left: 1em;
    text-align: left;
    line-height: 1.5em;
    height: 20%;
    margin-bottom: 12px;
  }

  main .card .caption p {
    font-size: 1.5rem;
  }

  main .card .caption .product_name {
    font-size: 2rem;
  }

  del {
    text-decoration: line-through;
  }

  main .card .caption .rate {
    display: flex;
  }

  main .card .caption .rate i {
    color: gold;
    margin-left: 2px;
  }

  main .card a {
    width: 50%;
  }

  main .card button {
    border: none;
    padding: 10px;

    width: 50%;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 2em;
    font-weight: bold;
    position: relative;
    background-color: var(--text-color);

  }

  main .card button a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
  }

  main .card button:hover {
    opacity: 0.8;
    cursor: pointer;
  }



  /*product card end */

  /*mobile responsive*/
  /* @media only screen and (max-width: 1200px) {
    .main-card-box {
      width: 40%;
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      margin: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    .main-card-box {
      width: 50%;

    }
  } */

  /*mobile responsive*/
</style>
<h3 style="text-align:center; color:#3E454C;">{{word}}</h3>
<br>

<!-- products data start -->

<main>
  {% for p in products %}
  <!-- card -->
  <div class="card">
    <div class="image">
      <img src="{% static p.product_image.url %}" alt="">
    </div>
    <div class="caption">
      <p class="rate">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </p>
      <p class="product_name">

        {{p.name}}

      </p>
      <p class="price" style="color: var(--text-color);"><b>
          ₹ {{p.price}}

        </b><br>

      </p>
      <p><b>{{p.description}}</b></p>


    </div>

    <button class="add"> <a href="{% url 'add-to-cart' p.id  %}">Add to cart <i
          class="ri-shopping-cart-2-fill"></i></a></button>
  </div>










  <!-- card end -->
  {% if forloop.counter|divisibleby:"3" %}






</main>
{% endif %}

{% endfor %}

<!-- products data enddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd -->
{%else%}

<h3 style="text-align:center; color:#3E454C;">No Search Found</h3>
{%endif%}

<script>
  {%if messages %}
  {%for message in messages %}
  alert('{{message}}');
  {% endfor %}
  {% endif %}
</script>



<!--
developed By :
-->

{% endblock content %}